<form novalidate [formGroup]="userEditForm">
  <div class="flex-con">
      <div class="inputcell">
          <p>User ID</p>
          <input type="text" disabled formControlName='id' class="form-control">
      </div>
      <div class="inputcell">
          <p>First Name</p>
          <input type="text" formControlName='first_name' class="form-control">
      </div>
      <div class="inputcell">
          <p>Last Name</p>
          <input type="text" formControlName='last_name' class="form-control">
      </div>

      <div class="inputcell">
        <p>Email Address</p>
        <input type="text" formControlName='email' class="form-control">
    </div>
    <div class="inputcell">
        <p>Password</p>
        <input type="text" formControlName='password' class="form-control">
    </div>
    <div class="inputcell">
        <p>Password Confirm</p>
        <input type="text" formControlName='password2' class="form-control">
    </div>




    
</div>

  <div class="input-group mt-4">
      <button (click)='clearForm()' class="form-control mr-3">Clear</button>
      <button (click)='saveUser()' *ngIf="!userEditForm.value.id &&  userEditForm.valid"
          class="form-control mr-3">Save</button>
      <button (click)='updateUser()' *ngIf="userEditForm.value.id"
          class="form-control mr-3">Update</button>
      <button (click)='deleteUser()' *ngIf="userEditForm.value.id"
          class="form-control ml-3">Delete</button>
  </div>
</form>