<div class="container-fluid header">

  <div class="row">

    <div class="col-md-2" style="text-align:center">
      <a href="#"><img src="/assets/img/Working Logo Icon.png" style="height:50px" class="logo"></a>
    
    </div>

    <div class="col-md-8" style="text-align:center">
      <p><app-clock></app-clock></p>
    </div>

    <div class="col-md-2" style="text-align:center">
      <button class="btn btn-sm btn-outline-warning ml-3" (click)="logOff()">Log Off</button>
      
    </div>

  </div>
</div>